body {
  margin: 0;
  background-color: aquamarine;
}
.row,
.col {
  overflow: hidden;
  position: absolute;
}

.row {
  left: 0;
  right: 0;
}

.col {
  top: 0;
  bottom: 0;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
  width: max-content;
}

.header.row {
  top: 0;
}

.body.row {
  top: 13%;
  bottom: 1%;
  left: .6%;
}

nav {
  background-color: blueviolet;
  align-items: center;
  position: relative;
  height: min-content;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  
}

.navbar .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  box-shadow: 5px 5px;
  
}

.navbar div {
  width: max-content;
}

.navbar .logo {
  display: flex;
  color: black;
  font-size: 35px;
  background-color: yellow;
  box-shadow: 5px 5px;
  
}

.navbar .date-div {
 background-color: transparent;
  padding: 5px;
}

.navbar .intensity-div {
  background-color: transparent;
  padding: 5px;
}

.navbar .range-div {
  background-color: transparent;
  padding: 5px;
}
.navbar .state-div {
  background-color: tomato;
  padding: 5px;
  box-shadow: 5px 5px;
}

span {
  font-weight: bolder;
}

.side-content .content-table th {
  background-color: yellow;
  text-align: center;
  font-weight: bold;
  border-collapse: collapse;
  position: sticky;
}

.side-content p {
  width: max-content;
  background-color: tomato;
  box-shadow: 5px 5px;
  padding: 5px;
  position: fixed;
  top: 7%;
  left: .7%;
}

.side-content table {
  background-color: white;
  /* border-collapse: collapse; */
  
}

