body {
    background-color: yellow;
}

nav {
    background-color: red;
    padding: 0px;
    display: flex;
}

.titlediv {
    background-color: mediumspringgreen;
}

.sortmonthdiv {
    background-color: orange;
}

.monthsDropbtn {
    background-color: blue;
}

.sortintdiv {
    background-color: pink;
}

.intDropbtn {
    background-color: green;
}

.sortfilterdiv {
    background-color: chartreuse;
}

.filterDropdown {
    background-color: orchid;
}