body {
  background-color: aquamarine;
  position: relative;
  min-width: 100vh;
  overflow: hidden;
  width: 100%;
}

nav {
  background-color: blueviolet;
  align-items: center;
  position: relative;
  height: min-content;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.navbar .selections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar div {
  width: max-content;
}

.navbar .logo {
  display: flex;
  color: black;
  font-size: 35px;
  background-color: yellow;
}

.navbar .sortmonthdiv {
  background-color: darkmagenta;
  padding: 5px;
}

.navbar .sortintdiv {
  background-color: indianred;
  padding: 5px;
}

.navbar .sortfilterdiv {
  background-color: aqua;
  padding: 5px;
}

span {
  font-weight: bolder;
}

.sidebar {
  background-color: brown;
  height: 100%;
  position: fixed;
  top: auto;
  left: 0;
  padding: 6px 14px;
  width: 240px;
}
